# Virtual Environment
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Project Specific Data & Models
# (These files are too large for GitHub and should be generated/downloaded locally)
data/
models/
*.pkl
*.csv

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
